<html>

    <head>
        <title>Todooooo it</title>
        <link href="/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="container">
            
            <div id="sidebar">
                <div id="inner" class="center-h">
                    <div class="center-h">
                        <img src="/images/logo-white.png" width="70%"/>
                        <ul>
                            <li>
                                <a href=""><a>Welcome {{user.username}}</a></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="todo-main">
                <div id="inner">
                    <form method="post">
                        <input type="text" name="newTodo" placeholder="Enter new todo" required />
                        <button type="submit">Add Todo</button>
                    </form>
                    <div id="todos">
                        <ul>
                            {{#each todos}}
                                <li>
                                    <div id="todo-container">
                                        <div id="todo-tag" {{#if this.tag}} class="todo-tag-{{this.tag}}" {{else}} class="todo-tag-def" {{/if}}>
                                            &nbsp;
                                        </div>
                                        <div id="todo-item">
                                            {{this.data}}
                                        </div>
                                        <div id="todo-time">
                                            {{{formatTime this.created}}}
                                        </div>
                                        <br style="clear: left;" />
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
